    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    background-color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
    }
    img{
    width: 100%;
    }
    .container{
    width: min(90% ,1120px);
    margin-inline: auto;
    }
    header{
    height: 5rem;
    background-color: #fff;
    cursor: pointer;
    position: relative;

    }
    .menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .menu h1 a{
    font-size: 1.625rem;
    font-weight: 700; 
    text-decoration: none;
    color: #000;
    }


    .menu h1 a:hover{
    color: #f44749;
    }


    .menu-links{
    display: flex;
    align-items: center;
    gap: 4rem;
    }
    .menu-links li{
    list-style: none;
    }
    .menu-links li a{
    text-decoration: none;
    font-size: 1.125rem;
    color:black;
    }
    .menu-links .active{
    color: #f44749;

    }
    .menu-links li a:hover{
    color: #f44749;
    }
    .btn{
    background-color: #dc3545;
    border: none;
    padding: 10px 2rem;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.125rem;
    cursor: pointer;
    margin-right: -90px;
    }
    .btn:hover{
    background-color:#c02e3d;
    }
    .humburger{
    display: none;
    }
    .overlay{
    background-image:linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.962)), url(ourmenu.jpg);
    height: 60vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -90px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
    .content{
        position: relative;
        top: 180px;
        text-align: center;
        z-index: 2;
        color: rgb(245, 245, 245);
        font-size: 35px;
        }
        .content strong{
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        }

        .head{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
 }
        .specialmenus-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
         }
         .special-items{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
         }
         .menu-tag{
            background-color:#ffc107;
            color: #fff;
            position: absolute;
            top: 3%;
            right: 4%;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            font-size: 14px;
         }
         .reviews h6{
            font-size:1.125rem ;
         }
         .review-icons i{
            font-size: 1.1rem;
            color: #f3af24;
         }
         footer{
            margin-top: 10rem;
            height: 90vh;
            background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/daan-evers-tKN1WXrzQ3s-unsplash.jpg")center/cover no-repeat;
          
        }
        .footer-site{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            gap: 5rem;
        }
        .footer-site h4{
            font-size: 1.5rem;
        }
        .footer-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        .footer-grid h6{
            font-size:1.375rem;
            color: #fff;
            margin-bottom: 2rem;
        }
        .footer-grid p{
            color: #AAA;
            font-size: 1.125rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        .footer-grid button{
            background-color: #212529;
            color: #AAA;
            cursor:pointer;
        }
        .footer-grid button:hover{
            color: #fff;
            background-color: #212529;
        }

        @media (max-width:768px){
         .menu{
             gap: 5px;
         }
         .menu h1 a{
             font-size: 2rem;
         }
         .btn{
             margin-right: 10px;
             padding-inline: 1.5rem;
         }
         .humburger{
             display: block;
         }
         .humburger i{
             font-size: 2rem;
         }
         .humburger i[data-visible="false"]{
             display: none;
         }
         .humburger i[data-visible="true"]{
             display: block;
         }
        
         .menu-links{
             background-color: #fff;
             margin-top: 19rem;
             flex-direction: column;
             gap: 1rem;
             justify-content:first baseline;
             align-items: start;
             position:absolute;
             left: 0;
             right: 0;
             z-index: 111;
             padding: 2rem 3rem;
             transition: transform 200ms ease-in-out ;
         }
         .menu-links[data-visible="false"]{
             transform: translateY(-145%);
         }
         .hero{
             height: 100vh;
         }
         .hero-content{
             
             padding-block: 3rem;
            align-items: center;
            grid-template-columns: 1fr;
            gap: 1rem;
         }
         
         .left-content h1{
             font-size: 2.375rem;
             margin-bottom: 0.5rem;
         }
         .specialmenus-grid{
             grid-template-columns: repeat(2,1fr);
         }
         .news-grid{
             grid-template-columns:1fr;
         }
         
         .events-grid{
             grid-template-columns: repeat(2,1fr);
         }
         footer{
             height: 51.4375rem;
         }
         .footer-grid{
             grid-template-columns: repeat(2,1fr);
         }
     }
     
     
     @media (max-width:480px){
         .menu h1 a{
             font-size: 1.3rem;
         }
         .humburger i{
             font-size: 1.5rem;
         }
         .specialmenus-grid{
             grid-template-columns: 1fr;
         }
         .special-menus h2,.news-events h2{
             font-size: 2rem;
         }
         .events-grid{
             grid-template-columns: 1fr;
         } 
         .footer-grid{
             grid-template-columns: 1fr;
         }
         h5{
             font-size: 1.25rem;
         }
     }